		<footer>
			<div class='container'>
				<div class='row'>
					{{ include('@components/list.twig',{
						array:footermenu.val,
						class:footermenu.class
						})
					}}
				</div>
			</div>
		</footer>
	</body>
</html>