@import "bootstrap/**/*";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../bower_components/compass-mixins/lib/compass";
@import "variables/**/*";
@import "base/**/*";

body{
	*{
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
}
.navigation{
	@include floatblock();
	li{
		padding:10px;
		@include floatblock(left,auto);
	}
}