{% extends "@templates/parent.twig" %}
{# don't add html in an extended template! #}

{% block page_title %}
	<h1>Default Page</h1>
{% endblock page_title %}

{% block nav_sidebar %}
	<div class='col-xs-3 nav-sidebar'>
		{{ parent() }}
	</div>
{% endblock nav_sidebar %}

{% block content %}
	<div class='col-xs-9' id='main-content'>
		{{ parent() }}
	</div>
{% endblock content %}

{% block promo_sidebar %}{% endblock promo_sidebar %}