{# these are comments #}
{# import the macro file #}
{% import "@internals/macro/input.tmpl" as form %}

{# call the macro #}
{{ form.input('firstname','Jon','text','20') }}
{{ form.input('lastname','Snow','text','20') }}


<!-- <h1>{{ h1|default('default h1') }}</h1> -->
<!-- {% set hval0,title0 = 3,'this is a header tag' %} -->

{% for key,item in content %}
	{% if item is iterable %}

		{% set var = [] %}

		{% for k,v in item %}
			{% set temp %}{% if loop.first %} { {% endif %}{{ k }}:'{{ v }}'{% if loop.last %} } {% endif %}{% endset %}
			{% set var = var|merge([ temp ]) %}
		{% endfor %}

		{% set var = var|join(',') %}
		<div>{{ var }}</div>

		{{ include ("@components/" ~ key ~ ".tmpl" ) }}
	{% else %}
		{{ include ("@components/" ~ item ~ ".tmpl") }}
	{% endif %}
{% endfor %}
{#
{ hval:'1',title:'sample title' }
#}