{# parent contains all possibilities for regions #}
<div class='container'>
	<div class='row'>
		<div class='col-xs-12'>
			{% block page_title %}<h1>Parent Page</h1>{% endblock page_title %}
		</div>
	</div>
	<div class='row'>
		{% block nav_sidebar %}
			{% block subnav %}
				<ul>
					<li><a href='#'>Subnav</a></li>
				</ul>
			{% endblock subnav %}
			{% for key,item in nav_sidebar %}
				{% include ("@internals/templates/getcomponent.twig") %}
			{% endfor %}
		{% endblock nav_sidebar %}
		{% block content %}
			{% for key,item in content %}
				{% include ("@internals/templates/getcomponent.twig") %}
			{% endfor %}
		{% endblock content %}
		{% block promo_sidebar %}
			{% for key,item in promo_sidebar %}
				{% include ("@internals/templates/getcomponent.twig") %}
			{% endfor %}
		{% endblock promo_sidebar %}
	</div>
</div>