/* default color for everything */
$c-default:#444;

$white-tl:rgba(255,255,255,0.25);
$white-t:rgba(255,255,255,0.6);
$white-th:rgba(255,255,255,0.9);
$white:#fff;
$off-white:#efeae1;

$lt-gray:#ccc;
$gray:#999;
$md-gray:#666;
$dk-gray:#333;

$off-black:#111;
$black:#000;
$black-tl:rgba(0,0,0,0.25);
$black-t:rgba(0,0,0,0.6);
$black-th:rgba(0,0,0,0.9);

$red:#d21301;
$red-t:rgba(173,0,0,0.9);
$blue:#4687c3;
$dk-blue:#0B0080;
$blue-t:rgba(0,0,173,0.9);
$green:#00FF00;
$green-t:rgba(0,173,0,0.9);

$dk:$black-t;
$lt:$black-tl;

$r1:42;
$g1:42;
$b1:42;
$color-1:rgba($r1,$g1,$b1,1);
$color-1-tl:rgba($r1, $g1, $b1, 0.25);
$color-1-t:rgba($r1, $g1, $b1, 0.6);
$color-1-th:rgba($r1,$g1,$b1,0.9);

$r2:187;
$g2:187;
$b2:187;
$color-2: rgba($r2,$g2,$b2,1);
$color-2-tl:rgba($r2,$g2,$b2,0.25);
$color-2-t:rgba($r2,$g2,$b2,0.6);
$color-2-th:rgba($r2,$g2,$b2,0.9);

$r3:70;
$g3:135;
$b3:195;
$color-3: rgba($r3,$g3,$b3,1);
$color-3-tl:rgba($r3,$g3,$b3,0.25);
$color-3-t:rgba($r3,$g3,$b3,0.6);
$color-3-th:rgba($r3,$g3,$b3,0.9);