/* breakpoints */
$mobile-large:25em;
$tab: 45em;
$tab-large: 55em;
$desk: 70em;
$ex-wide: 130em;
/* max width of site column */
$maxwidth: 1140px;
$outerwidth: 1800px;

$subnav-mobile:265px;
$subnav-width:370px;

$search-height:70px;

$socialtabs-width:60px;

$nav-sidebar-width:240px;
$nav-promo-width:240px;
$both-sidebar-width:#{$nav-sidebar-width+$nav-promo-width};